<div class="row">
  <div class="col-xs-12 col-md-8">
    <h4>Productos.</h4>
  </div>
  <div class="col-xs-12 col-md-4 text-right">
    <button class="btn btn-primary mb-2" (click)="abrirAgregarProducto()">Agregar Producto.</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12 table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center" scope="col">SKU</th>
          <th class="text-center" scope="col">Nombre</th>
          <th class="text-center" scope="col">Marca</th>
          <th class="text-center" scope="col">Talla</th>
          <th class="text-center" scope="col">Precio</th>
          <th class="text-center" scope="col">Imagen Principal.</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productos; index as i">
          <td>{{p.tipo}}-{{p.sku}}</td>
          <td>{{p.name}}</td>
          <td>{{p.brand}}</td>
          <td>{{p.size}}</td>
          <td>{{p.price}}</td>
          <td class="text-center">
            <img alt="" [src]="p.principal?.url" class="img-thumbnail rounded" width="100" height="100">
          </td>
          <td class="text-center">
            <a [routerLink]=""><fa-icon [icon]="faTrash" (click)="eliminarProducto(p.id)"></fa-icon></a>
            <a [routerLink]=""><fa-icon [icon]="faEdit" (click)="abrirEditarProducto(p)"></fa-icon></a>
          </td>
        </tr>
        <tr *ngIf="!productos.length">
          <td colspan="7">No se han encontrado productos.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
